/* cambia la medida del rem 1 rem= 10px, para textos, fuentes */
html {
    font-size: 62, 5%;
}

/* ID para darle color de fondo al INDEX */
#fondoIndex {
    background-color: rgb(223, 187, 133);
}

#fondoSucursales {
    background: linear-gradient(rgb(215, 159, 100), #9b965760);
}


/* tamaño de la imagen del logo*/
.imagenLogo {
    width: 100px;
    height: 100px;
    filter: contrast(60%);
    transition: all 5s;

}

.imagenLogo:hover {
    width: 150px;
    height: 150px;
    filter: none;
}


/* display para darle al menu propiedad de linea */
.navegacion ul li {
    display: inline-block;
    padding: 50px 50px;
    font-weight: bolder;
    font-size: 2rem;
}

/* clase para darle color, tamaño y posicionar el titulo */
.tituloPrincipal {
    color: rgba(0, 0, 0, 0.753);
    border: dotted 1px brown;
    margin: 5px 20px;
    padding: 20px;
    font-size: 4rem;
}

/* tamaño de la imagen central del index */
.fotoIndex1 {
    width: 650px;
    height: 450px;

}

/* darle ancho o width y el alto o height */
.fotoIndex2 {
    width: 600px;
    height: 450px;
}

.fotoNos img {
    width: 600px;
    height: 450px;
}


/* BOX MODELING */

/* box modeling, elemento  para darle estilo*/
.principal__titulo {
    font-size: 4rem;
    background-color: #fefce6b6;
}

/* darle un modificador especifico al estilo del bem */
.principal__titulo--color {
    color: brown;
}

/* box modeling */
.margen {
    margin: 20px 100px;
    padding: 20px;
    font-size: 3rem;
}


/* estilos para pag contactos */
/* CONTACTOS  */
.margen1 {
    margin: 20px 80px;
    padding: 20px;
    font-size: 1rem;
}

/* clase para el footer */
.redes {
    width: 50px;
    height: 50px;
    margin: 30px;
    border: 10px none;
}

/* clase para el logo del whatsapp */
.whatsapp img {
    width: 70px;
}

.whatsapp {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

/* ID para el background de la pag nosotros */
#fondoNosotros {
    background-color: #fef695;
}

/* darle color a la fuente en el subtitulo pag nosotros */
.azul {
    color: blue;
}

/* seleccion de la fuente utilizada en los html */
body {
    font-family: 'Open Sans', sans-serif;
}


/*centralizados de textos o titulos*/
header h1 {
    text-align: center;
    font-size: 3rem;
}

/*ID que me determina el color de fondo */
#fondoAmarillo {
    background-color: #fefce660;
}

/*ID que me determina con una foto el fondo de pagina contactos */

#foto {
    background-image: url(../multimedia/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* clase para tamaño de las fotos pag sucursales */
.fotoSucursales {
    width: 600px;
    height: 500px;
}

.fotocolor {
    margin: 20px;
    padding: 10px;
}

/* clase para darle color a los titulos de las tablas en aside en el index */
.tituloAside {
    color: red
}

/* para darle estilos a las listas*/
ul {
    list-style-type: none;
}

/*para darle estilos a las fuentes */

.italica {
    font-style: italic;
}

/*para darle peso a la fuente*/

.peso {
    font-weight: bold;
}

/* para darle tamaño a la fuente */

.tamaño {
    font-size: 2rem;

}



h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

/* sacar o poner subrayados en textos o titulos */
a {
    text-decoration: none;
}

/*  FLEXBOX  */

/* FLEX para subdividir el main en index */
.textoconfoto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/* flex para los encabezados en las pag secundarias */
.encabezado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/* flex en el main y aside del index */
.index {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

/*  FLEX en main  */
.centralizado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/*  GRID  */

/* GRID EN EL INDEX */

.grid-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 0.5fr 0.3fr;
    grid-template-areas:
        "header header header"
        "section section section"
        "main main main"
        "aside aside aside"
        "footer footer footer";
}

.headerI {
    grid-area: header;
}

.sectionI {
    grid-area: section;
}

.mainI {
    grid-area: main;
}

.asideI {
    grid-area: aside;
}

.footerI {
    grid-area: footer;
}

/* GRID EN PAG. PRODUCTOS */

.grid-productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";

}

.productoHeader {
    grid-area: header;
}

.productoMain {
    grid-area: main;
}

.productoFooter {
    grid-area: footer;
}

/* GRID EN PAG CONTACTOS */

.grid-contactos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 1.5fr 0.3fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

.headercont {
    grid-area: header;
}

.maincont {
    grid-area: main;
}

.footercont {
    grid-area: footer;
}

/* GRID EN NOSOTROS */

.grid-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.5fr 0.3fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";

}

.header-nos {
    grid-area: header;
}

.main-nos {
    grid-area: main;
}

.footer-nos {
    grid-area: footer;
}

/* GRID EN SUCURSALES */

.grid-sucursales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2fr 0.3fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

.headerSucursal {
    grid-area: header;
}

.mainSucursal {
    grid-area: main;
}

.footerSucursal {
    grid-area: footer;
}

/*  RESPONSIVE DESIGN */

/* responsive en los HTML   para tablet*/

@media screen and (max-width: 768px) {
    .grid-index {
        grid-template-rows: 0.2fr 0.5fr 1fr 0.3fr 0.2fr;
    }

    .textoconfoto {
        flex-wrap: wrap;
    }

    .fotoNos {
        margin: 0px 30px;
    }

    .rebelde {
        display: none;
    }

    .grid-index {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr 0.3fr;
        grid-template-areas:
            "header header"
            "section section"
            "main main"
            "aside aside"
            "footer footer";
    }

    .grid-productos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 0.3fr;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
    }

    .grid-nosotros {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 0.3fr;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
    }

    .grid-sucursales {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 0.3fr;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
    }
}

/* responsive en los HTML para smartphone y celulares */

@media screen and (max-width: 500px) {
    .navegacion ul li {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }

    .h2 {
        font-size: 1.5rem;
    }

    .tamaño {
        font-size: 0.9rem;
    }

    .principal__titulo {
        font-size: 1.5rem
    }

    .margen {
        font-size: 1.5rem;
    }

    .fotoIndex1 {
        width: 100%;
        height: auto;

    }

    .fotoIndex2 {
        width: 100%;
        height: auto;
    }

    .fotoNos img {
        width: 100%;
        height: auto;
    }

    .fotoSucursales {
        width: 100%;
        height: auto;
    }

    .rebelde {
        display: none;
    }

    .textoconfoto {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .encabezado {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .index {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .centralizado {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .margen1 {
        margin: 10px 20px;
        padding: 10px;
        font-size: 0.7rem;
    }

    .fotocolor {
        margin: 10px;
        padding: 5px;
    }

    .grid-index {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 0.5f 0.3fr 0.2fr;
        grid-template-areas:
            "header"
            "section"
            "main"
            "aside"
            "footer";
    }

    .grid-productos {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .grid-contactos {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr 0.2fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .grid-nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr 0.2fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .grid-sucursales {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr 0.2fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

}