/* cambia la medida del rem 1 rem= 10px, para textos, fuentes */
html {
    font-size: 62, 5%;
}

/* ID para darle color de fondo al INDEX */
#fondoIndex {
    background-color: rgb(223, 187, 133);
}
.bg-light{
    background-color:rgb(223, 187, 133) !important;
}

#fondoSucursales {
    background: linear-gradient(rgb(223, 187, 133), #64612f60);
}

.nav-link{
    color: blue;
    font-size: 2rem;
}
.nav-link active{
    color: blue;
}


/* tamaño de la imagen del logo*/
.imagenLogo {
    width: 100px;
    height: 100px;
    filter: contrast(60%);
    transition: all 5s;

}

.imagenLogo:hover {
    width: 150px;
    height: 150px;
    filter: none;
}


/* clase para darle color, tamaño y posicionar el titulo */
.tituloPrincipal {
    color: rgba(0, 0, 0, 0.753);
    border: dotted 1px brown;
    margin: 5px 20px;
    padding: 20px;
    font-size: 4rem;
}

/* BOX MODELING */

/* box modeling, elemento  para darle estilo*/
.principal__titulo {
    font-size: 4rem;
    background-color: #fefce6b6;
}

/* darle un modificador especifico al estilo del bem */
.principal__titulo--color {
    color: brown;
}

/* box modeling */
.margen {
    margin: 20px 100px;
    padding: 20px;
    font-size: 3rem;
}
ol{
    list-style: square;
    list-style-position: inside;
}


/* estilos para pag contactos */
/* CONTACTOS  */
.margen1 {
    margin: 20px 80px;
    padding: 20px;
    font-size: 1rem;
    
}

/* clase para el footer */
.redes {
    width: 50px;
    height: 50px;
    margin: 30px;
    border: 10px none;
}

/* clase para el logo del whatsapp */
.whatsapp img {
    width: 70px;
}

.whatsapp {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

/* ID para el background de la pag nosotros */
#fondoNosotros {
    background-color: #fef695;
}
.bg-lightNos{
    background-color:#fef695 !important ;
}

/* darle color a la fuente en el subtitulo pag nosotros */
.azul {
    color: blue;
}

/* seleccion de la fuente utilizada en los html */
body {
    font-family: 'Open Sans', sans-serif;
}


/*centralizados de textos o titulos*/
header h1 {
    text-align: center;
    font-size: 3rem;
}

/*ID que me determina el color de fondo */
#fondoAmarillo {
    background-color: #fefce660;
}

/*ID que me determina con una foto el fondo de pagina contactos */

#foto {
    background-image: url(../multimedia/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-lightContacto{
    background-image:url(../multimedia/fondo2.jpg) !important ;
}

/* clase para tamaño de las fotos pag sucursales */
.fotoSucursales {
    width: 600px;
    height: 500px;
}

.fotocolor {
    margin: 20px;
    padding: 10px;
}

/* clase para darle color a los titulos de las tablas en aside en el index */
.tituloAside {
    color: red
}

/* para darle estilos a las listas*/
ul {
    list-style-type: none;
}

/*para darle estilos a las fuentes */

.italica {
    font-style: italic;
}

/*para darle peso a la fuente*/

.peso {
    font-weight: bold;
}

/* para darle tamaño a la fuente */

.tamaño {
    font-size: 2rem;

}



h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

/* sacar o poner subrayados en textos o titulos */
a {
    text-decoration: none;
}


/*  FLEX en main  */
.centralizado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}




/*  RESPONSIVE DESIGN */

/* responsive en los HTML   para tablet*/
@media screen and (max-width:768px) {
    .rebelde{display: none;}
    
}


/* responsive en los HTML para smartphone y celulares */

@media screen and (max-width: 500px) {

    .h2 {
        font-size: 1.5rem;
    }

    .tamaño {
        font-size: 0.9rem;
    }

    .principal__titulo {
        font-size: 1.5rem
    }

    .margen {
        font-size: 2rem;
        margin: 10px;
    }

    .fotoIndex1 {
        width: 100%;
        height: auto;

    }

    .fotoIndex2 {
        width: 100%;
        height: auto;
    }

    .fotoNos img {
        width: 100%;
        height: auto;
    }

    .fotoSucursales {
        width: 100%;
        height: auto;
    }

    .rebelde {
        display: none;
    }

    .textoconfoto {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .encabezado {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .index {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .centralizado {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .margen1 {
        margin: 10px 20px;
        padding: 10px;
        font-size: 0.7rem;
    }

    .fotocolor {
        margin: 10px;
        padding: 5px;
    }

    
}