@charset "UTF-8";
html {
  font-size: 62,5%; }

/* MIXIN */
/* EXTEND */
.parrafos, .parrafos_productos, .parrafos_sucursales {
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  font-style: normal;
  margin: 10px;
  padding: 10px; }

.parrafos_productos {
  color: brown; }

.parrafos_sucursales {
  text-align: center; }

/* ID para darle color de fondo al INDEX */
#fondoIndex {
  background-color: #dfbb85; }

.bg-light {
  background-color: #dfbb85 !important; }

#fondoSucursales {
  background: linear-gradient(#dfbb85, #64612f60); }

/* ID para el background de la pag nosotros */
#fondoNosotros {
  background-color: #fef695; }

.bg-lightNos {
  background-color: #fef695 !important; }

/*ID que me determina el color de fondo */
#fondoAmarillo {
  background-color: #fefce660; }

/*ID que me determina con una foto el fondo de pagina contactos */
#foto {
  background-image: url(../multimedia/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.bg-lightContacto {
  background-image: url(../multimedia/fondo2.jpg) !important; }

.nav-link {
  color: blue;
  font-size: 2rem; }
  .nav-link active {
    color: blue; }

/*centralizados de textos o titulos*/
header h1 {
  text-align: center;
  font-size: 3rem; }

/* tamaño de la imagen del logo*/
.imagenLogo {
  width: 100px;
  height: 100px;
  filter: contrast(60%);
  transition: all 5s; }
  .imagenLogo:hover {
    width: 150px;
    height: 150px;
    filter: none; }

/* clase para darle color, tamaño y posicionar el titulo */
.tituloPrincipal {
  color: black;
  border: dotted 1px brown;
  margin: 5px 20px;
  padding: 20px;
  font-size: 4rem; }

/* BOX MODELING */
/* box modeling, elemento  para darle estilo*/
.principal__titulo {
  font-size: 4rem;
  background-color: #fefce6b6; }
  .principal__titulo--color {
    color: brown; }

/* box modeling */
.margen {
  margin: 20px 100px;
  padding: 20px;
  font-size: 3rem; }

ol {
  list-style: square;
  list-style-position: inside; }

/* estilos para pag contactos */
/* CONTACTOS  */
.margen1 {
  margin: 20px 80px;
  padding: 20px;
  font-size: 1rem; }

.subtitulo {
  color: brown; }

/* clase para el footer */
.redes {
  width: 50px;
  height: 50px;
  margin: 30px;
  border: 10px none; }

/* clase para el logo del whatsapp */
.whatsapp {
  position: fixed;
  right: 50px;
  bottom: 50px; }
  .whatsapp img {
    width: 70px; }

/* darle color a la fuente en el subtitulo pag nosotros */
.azul {
  color: blue; }

/* seleccion de la fuente utilizada en los html */
body {
  font-family: 'Open Sans', sans-serif; }

.fotocolor {
  margin: 20px;
  padding: 10px; }

/* clase para darle color a los titulos de las tablas en aside en el index */
.tituloAside {
  color: red; }

/* para darle estilos a las listas*/
ul {
  list-style-type: none; }

/*para darle estilos a las fuentes */
.italica {
  font-style: italic; }

/*para darle peso a la fuente*/
.peso {
  font-weight: bold; }

/* para darle tamaño a la fuente */
.tamaño {
  font-size: 2rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1rem; }

/* sacar o poner subrayados en textos o titulos */
a {
  text-decoration: none; }

/*  FLEX en main  */
.centralizado {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

/*  RESPONSIVE DESIGN */
/* responsive en los HTML   para tablet*/
@media screen and (max-width: 768px) {
  .rebelde {
    display: none; } }

/* responsive en los HTML para smartphone y celulares */
@media screen and (max-width: 500px) {
  .h2 {
    font-size: 1.5rem; }
  .tamaño {
    font-size: 0.9rem; }
  .tituloPrincipal {
    font-size: 3rem; }
  .principal__titulo {
    font-size: 1.5rem; }
  .margen {
    font-size: 2rem;
    margin: 10px; }
  .fotoIndex1 {
    width: 100%;
    height: auto; }
  .fotoIndex2 {
    width: 100%;
    height: auto; }
  .fotoNos img {
    width: 100%;
    height: auto; }
  .rebelde {
    display: none; }
  .textoconfoto {
    flex-direction: column;
    flex-wrap: wrap; }
  .encabezado {
    flex-direction: column;
    flex-wrap: wrap; }
  .index {
    flex-direction: column;
    flex-wrap: wrap; }
  .centralizado {
    flex-direction: column;
    flex-wrap: wrap; }
  .margen1 {
    margin: 10px 20px;
    padding: 10px;
    font-size: 0.7rem; }
  .fotocolor {
    margin: 10px;
    padding: 5px; } }
