html{
    font-size: 62,5%;
}
@import "variables";
@import "background";

.nav-link{
    color:$marron;
    font-size: map-get($estilos, font-size);
    active{
        color: $azul;
    }
}
/*centralizados de textos o titulos*/
header h1 {
    text-align:map-get($estilos, alineacion );
    font-size: 3rem;
}

/* tama単o de la imagen del logo*/
.imagenLogo {
    width: 100px;
    height: 100px;
   

}

/* clase para darle color, tama単o y posicionar el titulo */
.tituloPrincipal {
    color:$negro;
    border: dotted 1px $marron;
    margin: 5px 20px;
    padding: map-get($estilos, padding);
    font-size: 4rem;
}

/* BOX MODELING */

/* box modeling, elemento  para darle estilo*/
.principal__titulo {
    font-size: 3rem;
    background-color: $background5;
    &--color{color: $marron;}
}


/* box modeling */
.margen {
    margin: map-get($estilos, margen) 100px;
    padding: map-get($estilos, padding);
    font-size: 3rem;
}



ol{
    list-style: square;
    list-style-position: inside;
}

/* estilos para pag contactos */

/* CONTACTOS  */

.margen1 {
    margin: map-get($estilos, margen) 80px;
    padding: map-get($estilos, padding);
    font-size: 1rem;
    
}
.subtitulo{
    color: brown;
}

/* clase para el footer */
.redes {
    width: 50px;
    height: 50px;
    margin: 30px;
    border: 10px none;
}

/* clase para el logo del whatsapp */

.whatsapp {
    position: fixed;
    right: 50px;
    bottom: 50px;
    img{
        width: 70px;
    }
}

/* darle color a la fuente en el subtitulo pag nosotros */
.azul {
    color: $azul;
}

/* seleccion de la fuente utilizada en los html */
body {
    font-family: 'Open Sans', sans-serif;
}


.fotocolor {
    margin: map-get($estilos, margen);
    padding: 10px;
}

/* clase para darle color a los titulos de las tablas en aside en el index */
.tituloAside {
    color: $rojo;
}

/* para darle estilos a las listas*/
ul {
    list-style-type: none;
}

/*para darle estilos a las fuentes */

.italica {
    font-style: italic;
}

/*para darle peso a la fuente*/

.peso {
    font-weight: bold;
}

/* para darle tama単o a la fuente */

.tama単o {
    font-size: map-get($estilos, font-size);
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: map-get($estilos, font-size);
}

h4 {
    font-size: 1rem;
}

/* sacar o poner subrayados en textos o titulos */
a {
    text-decoration: none;
}

   /*  FLEX en main  */

.centralizado {
   @include flex;
}
@import "mediaqueries";

